@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Silkscreen&display=swap");

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #151515;
  color: white;
}

button {
  margin: 5%;
  padding: 5%;
}

.main-container {
  margin: 5%;
}
.functionality-container {
  display: flex;
}
.user-inputs {
  margin-right: 5%;
  background-color: transparent;
  width: 50vw;
  height: 70vh;
  border: white 1px;
}

.machine-outputs {
  flex-direction: column;
}

.machine_generators {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.machine_generators button {
  padding: 8px 16px;
  margin: 2%;
}

#dalle {
  border: 2px solid;
  border-color: #04aa6d;
  border-radius: 5px;
  box-shadow: 2px;
}

#dalle:hover {
  border: 2px solid;
  border-color: #04aa6d;
  background-color: #04aa6d;
  border-radius: 5px;
  box-shadow: 2px;
}

#fal {
  border: 2px solid;
  border-color: #04aa6d;
  border-radius: 5px;
  box-shadow: 2px;
}

#falfast {
  border: 2px solid;
  border-color: #04aa6d;
  border-radius: 5px;
  box-shadow: 2px;
}

#makeprompt {
  /* background-color: aqua; */
  border: 2px solid;
  border-color: #04aa6d;
  border-radius: 5px;
  box-shadow: 2px;
  padding: 8px 16px;
  margin-top: 5%;
}

#output {
  width: 40vw;
  height: 60vh;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

#prompt-history {
  width: 40vw;
  height: 20vh;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

#resultText {
  width: 40vw;
  height: 20vh;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgba(91, 96, 252, 0.25) 30%,
        rgba(91, 96, 252, 0.25) 0 70%,
        rgba(91, 96, 252, 0.25) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
  display: none;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
