@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Silkscreen&display=swap");

@font-face {
  font-family: "Pangaia Ultralight";
  src: url("./assets/font/PPPangaia-Ultralight.otf") format("opentype");
}

@font-face {
  font-family: "Pangaia Bold";
  src: url("./assets/font/PPPangaia-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Glare Bold";
  src: url("./assets/font/PPFragment-GlareExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Playground Med";
  src: url("./assets/font/PPPlayground-Medium.otf") format("opentype");
}

* {
  border: 1px solid rgb(230, 74, 74);
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #0e0e0e;
  color: white;
}

.main-container h1 {
  font-size: 2em;
  font-family: "Glare Bold";
  color: transparent;
  -webkit-text-stroke: 1px rgb(248, 245, 245);
  text-shadow: 1px rgb(248, 246, 246);
}

button {
  margin: 5%;
  padding: 5%;
}

.main-container {
  margin: 5%;
}
.main-container {
  display: flex;
}
.user-inputs {
  margin-right: 5%;
  background-color: transparent;
  width: 50vw;
  height: 70vh;
  border: white 1px;
}

.machine-outputs {
  flex-direction: column;
}

.machine_generators {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.machine_generators button {
  padding: 8px 16px;
  margin: 2%;
}

#prompt {
  word-wrap: break-word;
}

#dalle {
  border: 2px solid;
  border-color: #92d2ea;
  border-radius: 5px;
  box-shadow: 2px;
}

#dalle:hover {
  border: 2px solid;
  border-color: #92d2ea;
  color: #92d2ea;
  background-color: #d8eff7;
  border-radius: 5px;
  box-shadow: 2px;
}

#fal {
  border: 2px solid;
  border-color: #1b97a1;
  border-radius: 5px;
  box-shadow: 2px;
}

#fal:hover {
  border: 2px solid;
  border-color: #1b97a1;
  color: #1b97a1;
  background-color: #97dae0;
  border-radius: 5px;
  box-shadow: 2px;
}

#falfast {
  border: 2px solid;
  border-color: #7b77f2;
  border-radius: 5px;
  box-shadow: 2px;
}

#falfast:hover {
  border: 2px solid;
  border-color: #7b77f2;
  color: #7b77f2;
  background-color: #c7c5f9;
  border-radius: 5px;
  box-shadow: 2px;
}

#makeprompt {
  border: 2px solid;
  border-color: #dd4f74;
  border-radius: 5px;
  box-shadow: 2px;
}

#makeprompt:hover {
  border: 2px solid;
  border-color: #dd4f74;
  color: #dd4f74;
  background-color: #f4bbca;
  border-radius: 5px;
  box-shadow: 2px;
}

#resultText {
  width: 45vw;
  height: 25vh;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

#output {
  width: 40vw;
  height: 60vh;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

#prompt-history {
  width: 40vw;
  height: 20vh;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgba(91, 96, 252, 0.25) 30%,
        rgba(91, 96, 252, 0.25) 0 70%,
        rgba(91, 96, 252, 0.25) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
  display: none;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
